extends layout


block content
  .container
    h1 Expand's Platform as a Service
    .card.shadow-lg
      h4 Welcome to the EPaaS.
      p I am bad at writing and making things look nice but i know a thing or two about servers and how to run em.
      p Join now and have a place to host built applications and services.
