extends layout


block content
  .container
    h1 Welcome to the GUI Deployment interface #{user}
    .card.shadow-lg
      .row 
        .col
          h2 Deploy
        .col
          h2 Output
      hr
      .row 
        .col-4
          label App name(must be globally unique):
          br
          input.form-control-lg.shadow#appname(name='app', type='text')
          br
          br
          label github link(or other git link):
          br
          input.form-control-lg.shadow#github(type="text" name="github" required)
          br
          br
          button.btn.btn-primary#deploy(type="button" onclick="deploy()" value=user) Submit
        .col-8
          .card
            .output#output(style="height:30vh")
              ul#console
                
                
    script(type='text/javascript' src='https://www.gstatic.com/charts/loader.js')
    script(type='text/javascript').
      
      function updateScroll() {
        var element = document.getElementById("output");
        element.scrollTop = element.scrollHeight;
      }
      setInterval(updateScroll, 50);
  
    br
